<div class="no-users"> 
  <img src="assets/icons/location.svg" alt="distance">

  <h1>You ran out of people</h1>
  <p>Expand your distance settings to see more people in your area</p>

  <ion-item lines="none"> 
    <ion-label slot="start"><b>Distance</b></ion-label>
    <ion-note slot="end"><b>{{range.value}} km</b></ion-note>
  </ion-item>
  
  <ion-range aria-label="distance" 
    [min]="range.min" 
    [max]="range.max"
    [pin]="range.pin"
    [value]="range.value"
    (ionChange)="onIonChange($event)">
      <span slot="start">{{range.min}}</span>
      <span slot="end">{{range.max}}</span>
  </ion-range>

  <ion-button class="solid secondary" (click)="handelDistanceRangeChange()" [disabled]="range.value < 1"  >Apply</ion-button>

</div>