<div class="no-users">
  <div class="profile">
    <img [src]="user.profilePic" alt="">
  </div>

  <h1>You ran out of people</h1>
  <p>Expand your distance settings to see more people in your area</p>

  <!-- <ion-range aria-label="distance" 
    [min]="range.min" 
    [max]="range.max"
    [pin]="range.pin"
    [value]="range.value"
    (ionChange)="onIonChange($event)">
      <span slot="start">{{range.min}}</span>
      <span slot="end">{{range.max}}</span>
  </ion-range>

  <ion-button (click)="handelDistanceRangeChange()" [disabled]="range.value < 1" shape="round">Apply</ion-button> -->

</div>