@import '../../../theme/colors.scss';
 

// ion-toolbar {
//     --background: #2F184B;
//     color: white;
//     opacity: 1;
// }

.preferences {
    --background: $light;
    ion-list {
        margin: 0;
        p {
            margin-left: 14px;
            font-weight: bold;
        }

        [slot]{
            color: $primary;
            font-weight: bold;
        }
    }
}