@import '../../theme/colors.scss';

::ng-deep {

    ion-tab-bar {
        border: none;
    } 

    ion-tab-button {
        background-color: $primary;
        color:$white;
    }

    .tab-selected {
        color: $dark;
    }


    ion-toolbar {
        --background: $white;
        color: $primary;
        opacity: 1;
    }

      
  ion-chip {
    background: $light;
    color: $dark;
    font-size: 13px;
    font-weight: bold;
  }

}
 