@import url('../../theme/colors.scss');

.title {
  font-weight: bold;
  font-size: 28px;
}

.tab2 {
  ion-item {
    padding: 10px 0;
    font-weight: 500;
  }
  ion-card {
    margin: 4px 10px;
  }
  
}
