$primary: #d9a817;
$secondary: #374750;
$light: #f5f5f5;
$white: #fff;
$dark: #292929;


ion-button.solid.primary {
    background-color: $primary;
    color: $white;
    border-radius: 100px;
}

ion-button.solid.secondary {
    background-color: $secondary;
    color: $white;
    border-radius: 100px;
}

ion-button.clear.primary {
    background-color: inherit;
    color: $primary;
    border-radius: 100px;
}

ion-button.clear.secondary {
    background-color: inherit;
    color: $secondary;
    border-radius: 100px;
}

.error-message {
    color: $secondary;
    font-weight: bold;
    padding: 0 20px;
}