@import './colors.scss';
:root {
	--ion-color-primary: $secondary;
	--ion-color-primary-rgb: 74,22,77;
	--ion-color-primary-contrast: $light;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: $secondary;
	--ion-color-primary-tint: $primary;

    ion-button {
        --border-radius: 40px;
		font-weight: bold;
      } 
}
