
  :root {
	--ion-color-primary: #4A164D;
	--ion-color-primary-rgb: 74,22,77;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #411344;
	--ion-color-primary-tint: #5c2d5f;

    
    ion-button {
        --border-radius: 40px;
      }


}
