ion-content {
    --background: #e6e1b9;
}

.allow-page {
    padding: 20px;
    margin-top: 110px;
    text-align: center;
    img {
        width: 140px;
    }
    h1 {
        font-size: 45px;
        line-height: 0.9;
        margin-bottom: 40px;
        font-weight: bold;
    }
    p {
        font-size: 20px;
    }
    ion-button {
        margin-top: 100px;
        text-transform: uppercase;
        height: 50px;

    }
}