
<ion-header> </ion-header>

<ion-content class="modal-container"> 
  <div class="counter" *ngIf="activeStep <= 7">Step {{activeStep + 1}}/8</div>

  <!-- Step Name  -->
  <div class="container" *ngIf="activeStep == 0">
    <div class="title">
      <h1>What is your name?</h1>
      <p>Other users will see this</p>
    </div>
    <form class="modal-form" [formGroup]="userFormGroup">
      <ion-card>

        <ion-item mode="ios" lines="none">
          <ion-input class="border" placeholder="Name" type="text" formControlName="name"></ion-input>
        </ion-item>
      </ion-card>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.name">
          <div class="error-message"
            *ngIf="userFormGroup.get('name')?.hasError(validation.type) && (userFormGroup.get('name')?.dirty || userFormGroup.get('name')?.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

 
      <div class="validation-errors">
        <label class="error-message">{{errorMessage}}</label>
      </div>
      <div class="buttons">
        <ion-button class="clear primary" shape="round" (click)="cancel()">
          Cancel
        </ion-button>

        <ion-button class="solid primary" [disabled]="!userFormGroup.get('name')?.valid" shape="round" (click)="next()">
          Next
        </ion-button>
      </div>
      
    </form>
  </div>


   <!-- Step dob  -->
   <div class="container" *ngIf="activeStep == 1">
    <div class="title">
      <h1>What's your date of birth</h1>
      <p>Others will only see your age.</p>
      <p class="note">You must be 18 years or older to use this app</p>
    </div> 

    <form class="modal-form" [formGroup]="userFormGroup">
      <ion-datetime
        preferWheel = "true"
        [value]="selectedDate"
        [max]="maxDate"
        [min]="minDate"
        presentation="date" 
        formControlName="dob"
        size="cover"
        placeholder="Select date of birth"></ion-datetime>
        <div class="buttons">
          <ion-button class="clear primary" shape="round" (click)="back()">
            Back
          </ion-button>
  
          <ion-button class="solid primary" [disabled]="!userFormGroup.get('dob')?.valid"  shape="round" (click)="next()">
            Next
          </ion-button>
        </div>
    </form>
  </div>
 
  <!-- Step Gender -->
  <div class="container" *ngIf="activeStep == 2">
    <div class="title">
      <h1>What's your gender?</h1>
      <p>This help us find the right match for you</p>
    </div>

    <form class="modal-form" [formGroup]="userFormGroup">
      <ion-card>
        <ion-item class="item-choose" lines="none"> 
          <ion-select 
            formControlName="gender"
            interface="action-sheet" 
            placeholder="Select gender"> 
            <ion-select-option value="Male">Male</ion-select-option>
            <ion-select-option value="Female">Female</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
      <div class="buttons">
        <ion-button class="clear primary" shape="round" (click)="back()">
          Back
        </ion-button>

        <ion-button class="solid primary" [disabled]="!userFormGroup.get('gender')?.valid" shape="round" (click)="next()">
          Next
        </ion-button>
      </div>
    </form>
  </div> 

    <!-- Step height -->
  <div class="container" *ngIf="activeStep == 3">
    <div class="title">
      <h1>What's your body height</h1>
      <p>This help us find the right match for you</p>
    </div>

    <form class="modal-form" [formGroup]="userFormGroup">
      <ion-card>
        <ion-item class="item-choose" lines="none"> 
          <ion-select 
            formControlName="height"
            interface="action-sheet" 
            placeholder="Select body type"> 
            <ion-select-option value="120 - 140">120cm - 140cm</ion-select-option> 
            <ion-select-option value="141 - 150">141cm - 150cm</ion-select-option> 
            <ion-select-option value="151 - 160">151cm - 160cm</ion-select-option> 
            <ion-select-option value="161 - 170">161cm - 170cm</ion-select-option> 
            <ion-select-option value="171 - 180">171cm - 180cm</ion-select-option> 
            <ion-select-option value="181 - 190">181cm - 190cm</ion-select-option> 
            <ion-select-option value="191 - 200">191cm - 200cm</ion-select-option> 
          </ion-select>
        </ion-item>
      </ion-card>
        
      <div class="buttons">
        <ion-button class="clear primary" shape="round" (click)="back()">
          Back
        </ion-button>

        <ion-button class="solid primary" [disabled]="!userFormGroup.get('height')?.valid" shape="round" (click)="next()">
          Next
        </ion-button>
      </div>
    </form>
  </div> 

    <!-- Step bodyType -->
  <div class="container" *ngIf="activeStep == 4">
    <div class="title">
      <h1>What's your body type</h1>
      <p>This help us find the right match for you</p>
    </div>

    <form class="modal-form" [formGroup]="userFormGroup">
      <ion-card>
        <ion-item class="item-choose" lines="none"> 
          <ion-select 
            formControlName="bodyType"
            interface="action-sheet" 
            placeholder="Select body type"> 
            <ion-select-option  *ngIf="gender === 'Male'" value="Skinny">Skinny</ion-select-option>
            <ion-select-option  *ngIf="gender === 'Male'" value="Average">Average</ion-select-option>
            <ion-select-option  *ngIf="gender === 'Male'" value="Built">Built</ion-select-option>
            <ion-select-option  *ngIf="gender === 'Male'" value="Chubby">Chubby</ion-select-option>

            <ion-select-option *ngIf="gender === 'Female'" value="Slim">Slim</ion-select-option>
            <ion-select-option *ngIf="gender === 'Female'" value="Slim thick">Slim thick</ion-select-option>
            <ion-select-option *ngIf="gender === 'Female'" value="Thick">Thick</ion-select-option>
            <ion-select-option *ngIf="gender === 'Female'" value="Chubby">Chubby</ion-select-option>

          </ion-select>
        </ion-item>
      </ion-card>
        
      <div class="buttons">
        <ion-button class="clear primary" shape="round" (click)="back()">
          Back
        </ion-button>

        <ion-button class="solid primary" [disabled]="!userFormGroup.get('bodyType')?.valid" shape="round" (click)="next()">
          Next
        </ion-button>
      </div>
    </form>
  </div> 

  <!-- Step Ethnicity -->
  <div class="container" *ngIf="activeStep == 5">
    <div class="title">
      <h1>What's your ethnicity?</h1>
      <p>This help us find the right match for you</p>
    </div>

    <form class="modal-form" [formGroup]="userFormGroup">
      <ion-card>
        <ion-item class="item-choose" lines="none"> 
          <ion-select 
            formControlName="ethnicity"
            interface="action-sheet" 
            placeholder="Select ethnicity"> 
            <ion-select-option value="Asia">Asian</ion-select-option>
            <ion-select-option value="Black">Black</ion-select-option>
            <ion-select-option value="Mixed">Mixed</ion-select-option> 
            <ion-select-option value="White">White</ion-select-option> 
          </ion-select>
        </ion-item>
      </ion-card>
        
      <div class="buttons">
        <ion-button class="clear primary" shape="round" (click)="back()">
          Back
        </ion-button>

        <ion-button class="solid primary" [disabled]="!userFormGroup.get('ethnicity')?.valid" shape="round" (click)="next()">
          Next
        </ion-button>
      </div>
    </form>
  </div> 
 
  <!-- Step preferences -->
  <div class="container" *ngIf="activeStep == 6">
    <div class="title">
      <h1>What are you looking for?</h1>
      <p>These preferences can be changed once logged in</p>
    </div>

    <form class="modal-form" [formGroup]="userFormGroup">
      <ion-card>
        <ion-item class="item-choose" lines="none"> 
          <ion-select
            formControlName="preferenceFor"
            interface="action-sheet"
            placeholder="I am looking for"
            [multiple]="true">
              <ion-select-option value="No Strings Attached">No Strings Attached</ion-select-option>
              <ion-select-option value="Friends With Benefits">Friends With Benefits</ion-select-option>
              <ion-select-option value="One Night Stand">One Night Stand</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card>
 
      <div class="text-divider">With</div>

      <ion-card>
        <ion-item class="item-choose" lines="none"> 
          <ion-select
            formControlName="preferenceWith"
            interface="action-sheet"
            placeholder="With who"
            [multiple]="false"> 
              <ion-select-option value="Male">Male</ion-select-option>
              <ion-select-option value="Female">Female</ion-select-option> 
              <ion-select-option value="Either">Either</ion-select-option> 
          </ion-select>
        </ion-item>
      </ion-card>
      
      <div class="buttons">
        <ion-button class="clear primary" shape="round" (click)="back()">
          Back
        </ion-button>

        <ion-button class="solid primary" [disabled]="!userFormGroup.get('preferenceFor')?.valid || !userFormGroup.get('preferenceWith')?.valid"  shape="round" (click)="next()">
          Next
        </ion-button>
      </div>
    </form>
  </div>

   <!-- Step 6  -->
   <div class="container" *ngIf="activeStep == 7">
    <div class="title">
      <h1>Lastly, setup a 6 digit Passcode</h1>
      <p>This is required to login</p>
    </div>
    <form class="modal-form" [formGroup]="userFormGroup">
      <ion-card>
        <ion-item mode="ios" lines="none">
          <ion-input class="border" placeholder="Enter a passcode" type="text" formControlName="passcode"></ion-input>
        </ion-item>
      </ion-card>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.passcode">
          <div class="error-message"
            *ngIf="userFormGroup.get('passcode')?.hasError(validation.type) && (userFormGroup.get('passcode')?.dirty || userFormGroup.get('passcode')?.touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

 
      <div class="validation-errors">
        <label class="error-message">{{errorMessage}}</label>
      </div>
      <div class="buttons">
        <ion-button class="clear primary" shape="round" (click)="back()">
          Back
        </ion-button>

        <ion-button class="solid primary" [disabled]="!userFormGroup.get('passcode')?.valid" shape="round" (click)="createAccount()">
         All Set
        </ion-button>
      </div>
      
    </form>
  </div>


   <!-- Step 7  -->
   <!-- <div class="container" *ngIf="activeStep == 8">
    <div class="title">
      <h1>Lastly, Upload a profile pic</h1>
      <p>This is what others will see</p>
    </div>

    <div class="profile-pic" *ngIf="profilePicture">
      <img  [src]="profilePicture" alt="">
    </div>

    <div class="modal-form" >
      <ion-col size="4" >
        <div class="img-placeholder" (click)="selectImageActionSheet()">
          <ion-icon name="camera-outline"></ion-icon>
        </div>
      </ion-col> 
        
      <div class="buttons">
        <ion-button class="clear primary" shape="round" (click)="back()">
          Back
        </ion-button>

        <ion-button class="solid primary" [disabled]="!profilePicture" shape="round" (click)="createAccount()">
          All set
        </ion-button>
      </div>
      
    </div>
  </div> -->
 

</ion-content> 