

<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page">

  
    <div class="text">
      <h1>Verify OTP</h1>
      <p>Please enter the OTP code sent to <b>{{otpData.phoneNumber}}</b></p>
      <br>
      <p *ngIf="!otpExpired">Your OTP will expire in <b>{{remainingSeconds}}</b> sec</p>
      <p *ngIf="otpExpired">Your OTP has expired. Please request a new one</p>

    </div>
  
    <form [formGroup]="otpFG">
      <div class="otp-container">
        <ng-otp-input formControlName="otpControl" 
        (onInputChange)="onOtpChange($event)"
         [config]="{ length: 6, allowNumbersOnly: true }"></ng-otp-input>
      </div>
      
      <div class="error-message" >
        <p>{{error}}</p>
      </div>
      
      <div class="buttons">
        <ion-button class="clear primary" shape="round" (click)="resendOTP()">
          Resend OTP
        </ion-button>

        <ion-button class="solid primary" [disabled]="!otpFG.valid" shape="round" (click)="verifyOtp()">
          Verify OTP
        </ion-button>
      </div>

    </form>
  </div>
</ion-content>

<!-- 
<ion-footer>
  <ion-button fill="clear" (click)="goToSignIn()">Go to login</ion-button>
</ion-footer> -->



